body{
	font-family: arial;
	text-align: center;
}

h1{
	font-size: 30pt;
	background-color: yellow;
	/*padding: 15px;
	margin: 50px;
	width: 250px;*/
}

.destaque{
	font-weight: 200;
	font-size: 30pt;
}

.footer{
	font-size: 10pt;
}
